
x-redis: &redis bitnami/redis:latest
x-default-requests: &request
  memory: 200M
  cpu: 60m
x-default-limit: &limit
  cpu: 60m    
x-resources: &resources
  requests: *request
  limits: *limit
x-volumeMounts: &volumemounts
  - name: tmp
    path: /tmp
    emptyDir:
      sizeLimit: 200M

apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: oauth-demo
  # annotations:
    # radix.equinor.com/preview-oauth2-proxy-mode: dev,qa
spec:
  dnsExternalAlias:
    - alias: simple.nils.com
      component: simple
      environment: dev
      useCertificateAutomation: false
    - alias: nilstestacme.dev.radix.equinor.com
      component: simple
      environment: dev
      useCertificateAutomation: true
    - alias: radix2test.equinor.com
      component: proxy
      environment: dev
      useCertificateAutomation: false
    - alias: simple2.nils.com
      component: simple
      environment: dev
      useCertificateAutomation: false      
    - alias: my.nils.com
      component: web
      environment: prod
      useCertificateAutomation: false
    - alias: webqa.nils.com
      component: web
      environment: qa
      useCertificateAutomation: false
  dnsAppAlias:
    component: simple
    environment: dev
  dnsAlias:
    - alias: nilssimple1
      environment: dev
      component: simple
    - alias: nilssimple2
      environment: dev
      component: proxy
    - alias: nilssimple3
      environment: dev
      component: proxy
  build:
    secrets:
      - SECRET1
      - SECRET2a
    useBuildKit: true
    subPipeline:
      identity:
        azure:
          clientId: b96d264b-7053-4465-a4a7-32be5b0fec49
      variables:
        VAR_A: b
    # useBuildCache: false
  privateImageHubs:
    docker.io:
      username: nilsgustavstrabo
  environments:
    - name: dev
      build:
        from: main
      subPipeline:
        identity:
          azure:
            clientId: 5e48ca1f-a2bf-4dec-b96d-bbf8ce69f9f6
        variables:
          VAR_A: a-override-dev
          VAR_C: c-in-dev-onlyx
    # - name: feature
    #   build:
    #     from: main
    # - name: feature2
    #   build:
    #     from: feature2
    # - name: atbranch
    #   build:
    #     from: feature3/@test
    - name: qa
      build:
        fromType: tag
        from: v\d+\.\d+\..*
    # - name: qa2
    #   build:
    #     fromType: branch
    #     from: v\d+\.\d+\..*        
    - name: prod
    - name: test
  components:
    - name: web
      args:
        - --log-level=debug
      dockerfilename: Dockerfile
      # image: docker.io/nilsgustavstrabo/oauth-demo-dev-web:cksjc
      identity:
        azure:
          clientId: b96d264b-7053-4465-a4a7-32be5b0fec49
      variables:
        STREAM_BUFFER_SIZE: "1048576"
        ASPNETCORE_URLS: http://*:5005
        KEY_VAULT_URL: https://radix-sci-az-kv-test.vault.azure.net/
        SQL_SERVER_NAME: "radix-test-server-delete-me.database.windows.net"
        SQL_DATABASE_NAME: "radix-test-database-delete-me"
        MEGA_FILE_SIZE: "1001"
        ENABLE_PROXY_BUFFERING: "true"
        DOTNET_EnableDiagnostics: "0"
        AZURE_CLIENT_ID_FOR_KEYVAULT: afc6fbb0-6c82-45a1-abc8-280c9dce7b7d
        AZURE_CLIENT_ID_FOR_DB: 1500cbee-3f21-4301-b6e8-09888829c5ae
        NEWVAR: xyzabcd
      ports:
        - name: http
          port: 5005
      publicPort: http
      network:
        ingress:
          public:
            proxyBodySize: "0"
            proxyRequestBuffering: false
            proxySendTimeout: 300
      #       proxyReadTimeout: 15
      #       proxySendTimeout: 15
      #       allow:
      #         - 104.45.84.0/30
      #         - 143.97.110.1
      runtime:
        architecture: arm64
      horizontalScaling:
        maxReplicas: 2
        minReplicas: 0
        triggers:
          - name: cpu
            cpu:
              value: 60
          - name: memory
            memory:
              value: 80
          - name: cron
            cron:
              desiredReplicas: 1
              start: 0 8 * * *
              end: 0 18 * * *
              timezone: Europe/Oslo
      secretRefs:
        azureKeyVaults:
          - items:
              - name: secret1
                envVar: SECRET1
            name: radix-sci-az-kv-test
            useAzureIdentity: true
      environmentConfig:
        - environment: dev
          args: []
          identity: {}
          readOnlyFileSystem: false
          # network:
          #   ingress:
          #     public: 
          #       allow: []
          volumeMounts:
            - name: videos
              path: /mnt/videos
              blobFuse2:
                protocol: fuse2
                cacheMode: DirectIO
                # blockCache:
                #   blockSize: 16
                container: videos
                uid: "1001"
                accessMode: ReadWriteMany
                useAdls: true
                storageAccount: radixblobtest6
          variables:
            VIDEO_PATH: "/mnt/videos"
        - environment: prod
      resources: *resources
      authentication:
        oauth2:
          clientId: 5e48ca1f-a2bf-4dec-b96d-bbf8ce69f9f6
          setXAuthRequestHeaders: true
          setAuthorizationHeader: true
          sessionStoreType: systemManaged
          scope: openid email profile offline_access # https://graph.microsoft.com/User.Read
          credentials: azureWorkloadIdentity
    - name: redis
      image: *redis
      secrets:
        - REDIS_PASSWORD
      ports:
        - name: redis
          port: 6379
      resources:
        requests:
          memory: 51M
          cpu: 51m
      runtime:
        architecture: arm64
      horizontalScaling:
        maxReplicas: 1
        minReplicas: 0
        triggers:
          - name: cpux
            cpu:
              value: 60
          - name: memoryx
            memory:
              value: 80
          - name: cron
            cron:
              desiredReplicas: 1
              start: 0 8 * * *
              end: 0 18 * * *
              timezone: Europe/Oslo
      environmentConfig:
        - environment: prod
    - name: proxy
      src: "proxy/a/.."
      ports:
        - name: http
          port: 8080
      publicPort: http
      readOnlyFileSystem: true
      runtime:
        architecture: arm64
      volumeMounts: *volumemounts
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
        limits:
          cpu: 50m
      authentication:
        oauth2:
          clientId: 5e48ca1f-a2bf-4dec-b96d-bbf8ce69f9f6
          setXAuthRequestHeaders: true
          setAuthorizationHeader: true
          sessionStoreType: redis
          scope: openid email profile offline_access # https://graph.microsoft.com/User.Read
          redisStore:
            connectionUrl: redis://redis:6379   
      horizontalScaling:
        maxReplicas: 1
        minReplicas: 0
        triggers:
          - name: cpux
            cpu:
              value: 60
          - name: memoryx
            memory:
              value: 80
          - name: cron
            cron:
              desiredReplicas: 1
              start: 0 8 * * *
              end: 0 18 * * *
              timezone: Europe/Oslo
      environmentConfig:
        - environment: dev
        - environment: prod
    - name: simple
      # image: docker.io/nilsgustavstrabo/nilssimple:latest
      dockerfileName: Dockerfile.simple
      src: /simpleweb
      args:
        - --log-level=$(LOG_LEVEL)
      ports:
        - name: http
          port: 9001
      publicPort: http
      readOnlyFileSystem: true
      horizontalScaling:
        maxReplicas: 1
        minReplicas: 1
      identity:
        azure:
          clientId: b96d264b-7053-4465-a4a7-32be5b0fec49 #id-radix-fed-test
      variables:
        TIMEOUT: 10h
        TMPDIR: "/tmp"
        APPENDTICK: 10s
        LOG_LEVEL: debug
      volumeMounts:
        - name: tmp
          path: /mnt/tmp
          emptyDir:
            sizeLimit: 10G
        - name: videos
          path: /mnt/videos
          blobFuse2:
            container: videos
            accessMode: ReadWriteMany
            useAdls: true
            cacheMode: Block
            blockCache:
              blockSize: 8
            useAzureIdentity: true
            storageAccount: radixblobtest6
            resourceGroup: test-resources
            subscriptionId: 16ede44b-1f74-40a5-b428-46cca9a5741b
        - name: images
          path: /mnt/images
          blobFuse2:
            container: images
            accessMode: ReadWriteMany
            useAdls: true
            cacheMode: Block
            blockCache:
              blockSize: 8
            storageAccount: radixblobtest6
      resources:
        requests:
          cpu: 10m
          memory: 100Mi
        limits:
          memory: 500Mi
      network:
        ingress:
          public:
            proxyBodySize: 100m
            proxyReadTimeout: 30
            proxySendTimeout: 30
            allow:
              - 143.97.110.1
      # ingressConfiguration:
      #   - websocketfriendly
      environmentConfig:
        - environment: dev
          horizontalScaling:
            maxReplicas: 1
            minReplicas: 0
            triggers:
              - name: cron
                cron:
                  desiredReplicas: 1
                  start: 0 8 * * *
                  end: 0 17 * * *
                  timezone: Europe/Oslo
          runtime:
            architecture: arm64
        - environment: prod
          replicas: 2
          horizontalScaling:
            maxReplicas: 4
            minReplicas: 2
            cooldownPeriod: 600 # 10 minutes
            triggers:
              - name: cpu
                cpu:
                  value: 50
          runtime:
            architecture: arm64
    

          

