@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a href="https://server2-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/">Link to server2</a>
    </div>
    <div>
        <a href="https://server-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/">Link to server</a>
    </div>
    <div>
        <div>Server2</div>
        <iframe src="https://server2-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/Error"></iframe>
    </div>
    <div>
        <div>Server</div>
        <iframe src="https://server-nils-simple-webapp-qa.nils-dev.dev.radix.equinor.com/Error"></iframe>
    </div>
</div>
